*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
     background: linear-gradient(brown,black);
     text-align: center;
     color: white;
     padding: 20px;
}
.main{
     display: flex;
     justify-content: space-evenly;
     padding: 20px;
     background-color: grey;
     height: 500px;
}
.upgrades{
     background-color: white;
     padding: 20px;
     width: 50%;
}
.stats{
     width: 50%;
     padding: 20px;
     background-color: black;
     color: white;
}
body{
     background-color: black;
}
.bold{
     font-weight: bolder;
     
}